/* Pool */

.poolContainer {
  height: 50vh;
  display: flex;
}

.poolContainer div {
  flex-grow: 1;
  border-top: solid #666 0.3rem;
  border-bottom: solid #666 0.3rem;
}

.poolContainer div:last-child {
  border-right: solid #666 0.3rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.poolContainer div:first-child {
  border-left: solid #666 0.3rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* Buttons */

.buttonContainer {
  padding: 3vh 3vw;
  display: flex;
}

.buttonContainer button {
  flex-grow: 1;
  background: #fff;
  padding: 5vh 3vw;
  margin: 2vw;
  border: solid #666 0.2rem;
  border-radius: 0.5rem;
  font-size: larger;
}
